<mat-card class="example-card" *ngFor="let prod of productos; let indice = index">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title><p>{{prod.nombre}}</p></mat-card-title>
      <mat-card-subtitle>Precio: {{calcularPrecioConIva(prod.precio, prod.iva) }}</mat-card-subtitle>
      <mat-card-subtitle> <button mat-raised-button color="warn" (click)="eliminarClick(indice)">Eliminar</button></mat-card-subtitle>
      <ng-container *ngFor="let img of prod.imagenes">
        <img mat-card-image src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_{{img.nombre}}-med.jpg"  alt="">
      </ng-container>
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
