<div class="toolbar-container">
    <div class="left-section">
      <div class="logo">Logo</div>
    </div>
    <div class="center-section">
      <ul class="menu">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/productos">Productos</a></li>
        <li><a routerLink="/sobre-nosotros">Sobre nosotros</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </div>
    <div class="right-section">
      <a routerLink="/registrar-usuario" class="login">Registrarse</a>
      <mat-icon class="carrito-icon" routerLink="/carrito-de-compras">shopping_cart</mat-icon>
      <div class="numero-carrito">{{cantidadProductos}}</div>
    </div>
</div>
